# Dependency directories
node_modules/
vendor/

# Build directories
target/
/_build/
/extension/dist/
/zerokube/zerokube

# Profiling artifacts
*.pprof
perf.data*

# Local cache
*.fzf
/_data/

# For Vercel
.vercel
