# Dependency directories
node_modules/

# Build directories
target/
/_build/
/vscode-web/
extension/dist/
zerokube/zerokube

# Profiling artifacts
*.pprof
perf.data*

# Local cache
*.fzf
/_data/

# For Vercel
.vercel
