# Dependency directories
node_modules/
vendor/

# Profiling artifacts
*.pprof
perf.data*

# Local cache
*.fzf

# For Vercel
.vercel

# src.codes build directories
/api/target/
/build/
/extension/dist/
/fzf/target/
