name: Fly Deploy
on:
  push:
    branches:
      - main
    paths:
      - "fzf/**"
  workflow_dispatch: {}
jobs:
  fzf:
    runs-on: ubuntu-latest
    concurrency: deploy-fzf
    steps:
      - uses: actions/checkout@v6
      - uses: superfly/flyctl-actions/setup-flyctl@master
      - run: flyctl deploy fzf --remote-only --build-arg COMMIT=${{ github.sha }}
        env:
          COMMIT: ${{ github.sha }}
          FLY_API_TOKEN: ${{ secrets.FZF_DEPLOY_TOKEN }}
